.all-inboxes {
  display: flex;
  flex-direction: column;
  row-gap: 13px;

  width: 320px;
  font-family: Arial;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.header {
  color: gray;
  font-size: 13px;
}

.recieved-mail {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.email-details {
  flex: 1;
  display: flex;
  flex-direction: column; 
  row-gap: 3px; 
}

.sender-profile-picture {
  width: 50px;
}

.sender-pfp {
  height: 45px;
  width: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 23px;
}

.recieved-details {
  display: flex;
  justify-content: space-between;
}

.sender-name {
  font-weight: bold;
  font-size: 15px;
}

.time-of-recieving {
  color: gray;
  font-size: 12px;
}

.subject {
  font-size: 12px;
  font-weight: bold;
}

.preview {
  color: gray;
  font-size: 12px;
}